$color-blue: #727fff;
$color-black: #000;
$color-gray: #888888;
$color-white: #fff;
$mobile: 320px;
$desktop: 1024px;

.center {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.blog-card {
  height: 350px;
  width: 320px;
  margin-left: 2px;
  margin-right: 2px;
}

  .blog-card__thumbnail {
    width: 320px;
    height: 150px;
    object-fit: cover;
  }

  .blog-card__details {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: $color-white;
    overflow: auto;
  }

  .blog-card__title {
    font-size: 17px;
    text-transform: uppercase;
    color: black;
  }

  .blog-card__description {
    font-weight: 300;
    font-size: 13px;
    color: gray;
  }

  .blog-card__action {
    background: transparent;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: gray;
    cursor: pointer;
    padding-left: 20px;
  }


.product-card {
  width: 220px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 1px 7px rgba(0,0,0,0.5);

  .product-card__thumbnail {
    width: 220px;
    height: 150px;
    object-fit: cover;
  }

}